/* Принудительная светлая тема */

:root.theme-light {
    --h1-text-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --accent-color-opacity: #ff8dcb66;
    --text-color: #353430;
    --text-color-opacity: #35343040;
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --text-accent-color: #353430;
}

.theme-light .header__rec {
    display: none;
}

.theme-light .header__theme-menu-button {
    color: var(--text-color, #353430);
}

.theme-light .header__theme-menu-button:hover {
    outline: 1px solid var(--text-color-opacity, #35343040);
}

.theme-light .header__theme-menu-button:focus-visible {
    border-block-end: 1px solid var(--text-color, #353430);
}

.theme-light .header__theme-menu-button_active {
    border: 1px solid var(--text-color, #353430);
}

.theme-light .section__title {
    color: var(--text-color, #353430);
}

.theme-light .decorated-zone::before {
    border-block-start-color: var(--text-color, #353430);
    border-inline-end-color: var(--text-color, #353430);
}

.theme-light .decorated-zone::after {
    border-block-end-color: var(--text-color, #353430);
    border-inline-start-color: var(--text-color, #353430);
}

@media (prefers-color-scheme: light) {
    :root {
        --h1-text-color: #ffc2e6;
        --accent-color: #ff8dcb;
        --accent-color-opacity: #ff8dcb66;
        --text-color: #353430;
        --text-color-opacity: #35343040;
        --bg-color: #fff1f7;
        --bg-image: url(../images/cover-image-light.png);
        --text-accent-color: #353430;
    }

    .header__rec {
        display: none;
    }

    .header__theme-menu-button {
        color: var(--text-color, #353430);
    }

    .header__theme-menu-button:hover {
        outline: 1px solid var(--text-color-opacity, #35343040);
    }

    .header__theme-menu-button:focus-visible {
        border-block-end: 1px solid var(--text-color, #353430);
    }

    .header__theme-menu-button_active {
        border: 1px solid var(--text-color, #353430);
    }

    .section__title {
        color: var(--text-color, #353430);
    }

    .decorated-zone::before {
        border-block-start-color: var(--text-color, #353430);
        border-inline-end-color: var(--text-color, #353430);
    }

    .decorated-zone::after {
        border-block-end-color: var(--text-color, #353430);
        border-inline-start-color: var(--text-color, #353430);
    }
}

